// .slider-container {
// 	margin-top:35px;
// 	height:100%;
// }

// .carousel-caption {
// 			position: absolute;
// 			top: 0;
// 			text-align: left;
// 			left: inherit;
// 			right: inherit;
// 			width: 280px;
//     color:#000;
//   bottom:-95px;
  
// }

// .carousel-caption:not(#caption-0) {
//     display: none;
// }

// .carousel-caption:not(#caption-0) {
//     display: none;
// }
// .carousel-control {
//     background: none repeat scroll 0 0 #000 !important;
//     bottom: 0;
//     color: #fff;
//     font-size: 20px;
//     height: 75px;
//     opacity: 0.5;
//     padding: 20px !important;
//     position: static !important;
//     right: 108px !important;
//     text-align: center;
//     text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
//     top: 296px;
//     width: 100px;
//     z-index: 9999;
// }
.box-carousel {
    position: relative;
    .carousel-caption {
        position: absolute;
        right: 0;
        top: 240px;
        //left: 70px;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        text-align: left;
        color: #000;
        width: 400px;
        overflow: hidden;
        h5 {
            @include title5-raleway;
            color: #000;
        }
        p {
           @inlude title5-raleway;
            color: #000;
        }
        .carousel-item {
            opacity: 0;
            transition-property: opacity;
            &.active {
                animation-name: show-animation-in;
                animation-duration: 1s; 
                animation-delay: 4.0s;
                opacity: 1!important;
                transition: translate .2s linear;
            }
        }
        .img {
            width: 700px;
            height: 400px;
            margin: 0 auto;
        }
    }
     .carousel-indicators {
        top: 195px;
        left: 12px;
        justify-content: start;
        padding: 0;
        margin: 0;
        height: 10px;
        width: 460px;
        overflow: hidden;
    }
}
  
  
  .carousel {
    width: 100%;
    height: 500px;
    display: block;
    margin: 0 auto;
  }

  .carousel-inner {
    padding-left: 120px;
    margin-top: -40px;
  }
  
  .carousel-control {
    .carousel-control-next-icon, .carousel-control-prev-icon {
     border: 1px solid red; 
    }
  }
  
  .carousel-indicators {
    bottom: 50px;
  }
  
  .carousel-indicators {
    li {
      border: 1px solid #000;
      background-color: #000;
      &.active {
        background-color: #ff0000;
      }
    }
  }

 .box-imagem {
    .carousel-item {
        width: 100%;
        max-width: 485px;
        height: 460px;
        .img {
            width: 485px;
            height: 460px;
            opacity: 0!important;
           
        }
        &.active {
            .img {
                animation-name: show-animation-in;
                animation-duration: 0.8s; 
                animation-delay: 4.5s;
                opacity: 1!important;
            }
            
        }
    }
 }
