* {
  font-size: 10px; }

/*
    Fonts
*/
/*
    Cores
*/
@keyframes show-animation-in {
  0% {
    transform: translate(-100%); }
  100% {
    transform: translate(0); } }

@keyframes opacity-animation-in {
  0% {
    opacity: 1;
    transform: scale(1); }
  25% {
    opacity: 1;
    transform: scale(1.2); }
  50% {
    opacity: 0.7;
    transform: scale(1.5); }
  75% {
    opacity: 0.4;
    transform: scale(1.7); }
  100% {
    opacity: 0;
    transform: scale(2); } }

@keyframes hover-line-animation {
  0% {
    transform: translate(100%); }
  100% {
    transform: translate(200%); } }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.section-banner {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .section-banner .box-banner {
    padding-bottom: 110px;
    text-align: center;
    color: #fff; }
    .section-banner .box-banner--title {
      font-family: 'roboto';
      font-size: 6rem;
      text-transform: uppercase;
      margin: 0;
      padding-top: 160px;
      padding-bottom: 35px;
      font-weight: 500; }
      .section-banner .box-banner--title a {
        color: #000000;
        text-decoration: none; }
        .section-banner .box-banner--title a.active, .section-banner .box-banner--title a:hover, .section-banner .box-banner--title a:active, .section-banner .box-banner--title a:focus {
          color: #d73b34;
          text-decoration: none;
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -o-transition: all .2s ease-out; }
      @media (max-width: 767.98px) {
        .section-banner .box-banner--title {
          font-size: 3rem; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .section-banner .box-banner--title {
          font-size: 5rem; } }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .section-banner .box-banner--title {
          font-size: 6rem; } }
    .section-banner .box-banner--hat {
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      margin: 0;
      padding-right: 120px;
      padding-left: 120px;
      padding-bottom: 35px; }
      .section-banner .box-banner--hat strong {
        font-size: inherit;
        font-weight: 700; }
      .section-banner .box-banner--hat a {
        color: #000000;
        border-bottom: 3px solid #000000;
        text-decoration: none;
        line-height: inherit;
        font-size: inherit; }
        .section-banner .box-banner--hat a.active, .section-banner .box-banner--hat a:hover, .section-banner .box-banner--hat a:active, .section-banner .box-banner--hat a:focus {
          color: #d73b34;
          border-color: rgba(255, 0, 64, 0.2); }
      @media (max-width: 991.98px) {
        .section-banner .box-banner--hat {
          font-size: 1.6rem;
          line-height: 3rem; } }
    .section-banner .box-banner--description {
      font-family: 'roboto';
      font-size: 2.4rem;
      margin: 0;
      padding-bottom: 65px; }
      .section-banner .box-banner--description a {
        color: #000000;
        text-decoration: none; }
        .section-banner .box-banner--description a.active, .section-banner .box-banner--description a:hover, .section-banner .box-banner--description a:active, .section-banner .box-banner--description a:focus {
          color: #d73b34;
          text-decoration: none;
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -o-transition: all .2s ease-out; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/Roboto-Medium.ttf") format("ttf"); }

@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'raleway-Black';
  src: url("../fonts/Raleway-Black.ttf") format("ttf"); }

.box-carousel {
  position: relative; }
  .box-carousel .carousel-caption {
    position: absolute;
    right: 0;
    top: 240px;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    color: #000;
    width: 400px;
    overflow: hidden; }
    .box-carousel .carousel-caption h5 {
      font-family: 'raleway';
      font-size: 1.8rem;
      margin: 0;
      color: #000; }
      .box-carousel .carousel-caption h5 a {
        color: #000000;
        text-decoration: none; }
        .box-carousel .carousel-caption h5 a.active, .box-carousel .carousel-caption h5 a:hover, .box-carousel .carousel-caption h5 a:active, .box-carousel .carousel-caption h5 a:focus {
          color: #d73b34;
          text-decoration: none;
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -o-transition: all .2s ease-out; }
    .box-carousel .carousel-caption p {
      @inlude title5-raleway;
      color: #000; }
    .box-carousel .carousel-caption .carousel-item {
      opacity: 0;
      transition-property: opacity; }
      .box-carousel .carousel-caption .carousel-item.active {
        animation-name: show-animation-in;
        animation-duration: 1s;
        animation-delay: 4.0s;
        opacity: 1 !important;
        transition: translate .2s linear; }
    .box-carousel .carousel-caption .img {
      width: 700px;
      height: 400px;
      margin: 0 auto; }
  .box-carousel .carousel-indicators {
    top: 195px;
    left: 12px;
    justify-content: start;
    padding: 0;
    margin: 0;
    height: 10px;
    width: 460px;
    overflow: hidden; }

.carousel {
  width: 100%;
  height: 500px;
  display: block;
  margin: 0 auto; }

.carousel-inner {
  padding-left: 120px;
  margin-top: -40px; }

.carousel-control .carousel-control-next-icon, .carousel-control .carousel-control-prev-icon {
  border: 1px solid red; }

.carousel-indicators {
  bottom: 50px; }

.carousel-indicators li {
  border: 1px solid #000;
  background-color: #000; }
  .carousel-indicators li.active {
    background-color: #ff0000; }

.box-imagem .carousel-item {
  width: 100%;
  max-width: 485px;
  height: 460px; }
  .box-imagem .carousel-item .img {
    width: 485px;
    height: 460px;
    opacity: 0 !important; }
  .box-imagem .carousel-item.active .img {
    animation-name: show-animation-in;
    animation-duration: 0.8s;
    animation-delay: 4.5s;
    opacity: 1 !important; }

footer {
  background-color: #000000; }

.box {
  padding-top: 95px;
  padding-bottom: 60px; }
  .box-footer {
    color: #fff;
    text-align: left;
    padding-bottom: 35px; }
    .box-footer h6 {
      padding-bottom: 20px;
      font-family: 'roboto';
      font-size: 1.6rem;
      margin: 0;
      text-transform: uppercase;
      margin: 0; }
      .box-footer h6 a {
        color: #000000;
        text-decoration: none; }
        .box-footer h6 a.active, .box-footer h6 a:hover, .box-footer h6 a:active, .box-footer h6 a:focus {
          color: #d73b34;
          text-decoration: none;
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -o-transition: all .2s ease-out; }
    .box-footer p {
      padding-bottom: 15px;
      font-family: 'roboto';
      font-size: 1.6rem;
      margin: 0;
      font-weight: lighter;
      margin: 0; }
      .box-footer p a {
        color: #000000;
        text-decoration: none; }
        .box-footer p a.active, .box-footer p a:hover, .box-footer p a:active, .box-footer p a:focus {
          color: #d73b34;
          text-decoration: none;
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -o-transition: all .2s ease-out; }
      .box-footer p:last-child {
        padding-bottom: 0; }
    .box-footer .btn-link {
      padding: 10px 10px;
      background-color: #e23e36;
      border-radius: 5px;
      color: #fff;
      text-align: center;
      text-transform: uppercase; }
    .box-footer .lista-midia li {
      border-radius: 50%;
      background-color: #fff;
      display: inline-block;
      width: 45px;
      height: 45px; }
      .box-footer .lista-midia li a {
        color: #000000;
        text-align: center;
        vertical-align: middle; }
        .box-footer .lista-midia li a.face {
          background-image: url(../assets/imagens/icon/facebook.png); }
        .box-footer .lista-midia li a.insta {
          background-image: url(../assets/imagens/icon/instagram.png); }

header {
  width: 100%;
  height: 80px;
  background-color: #fff; }
  header nav .navbar-brand img {
    width: 125px;
    height: 50px; }
  header nav .navbar-nav {
    transition: right .3s ease-out;
    background-color: #fff; }
    header nav .navbar-nav .nav-item .nav-link {
      font-family: 'roboto';
      font-size: 1.6rem;
      margin: 0;
      padding: 11px 15px;
      text-transform: uppercase;
      color: #000;
      text-align: center; }
      header nav .navbar-nav .nav-item .nav-link a {
        color: #000000;
        text-decoration: none; }
        header nav .navbar-nav .nav-item .nav-link a.active, header nav .navbar-nav .nav-item .nav-link a:hover, header nav .navbar-nav .nav-item .nav-link a:active, header nav .navbar-nav .nav-item .nav-link a:focus {
          color: #d73b34;
          text-decoration: none;
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -o-transition: all .2s ease-out; }
      header nav .navbar-nav .nav-item .nav-link.btn-link {
        padding: 10px 10px;
        background-color: #e23e36;
        border-radius: 5px;
        color: #fff; }
    header nav .navbar-nav .nav-item:hover {
      border-bottom: 1px solid #e23e36; }
  header .animation-navbar {
    position: relative; }

.section-banner.section-banner-home {
  background-image: url(../imagens/bg-banner-home.png); }

.section-quem-somos {
  padding-bottom: 115px; }
  .section-quem-somos .box-content--image {
    background-color: #666;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 565px; }
  .section-quem-somos .box-content--text {
    text-align: left;
    padding-left: 120px; }
    .section-quem-somos .box-content--text:last-child {
      padding-bottom: 0; }
  .section-quem-somos .box-content--title {
    font-family: 'roboto';
    font-size: 4rem !important;
    margin: 0;
    font-weight: normal; }
    .section-quem-somos .box-content--title a {
      color: #000000;
      text-decoration: none; }
      .section-quem-somos .box-content--title a.active, .section-quem-somos .box-content--title a:hover, .section-quem-somos .box-content--title a:active, .section-quem-somos .box-content--title a:focus {
        color: #d73b34;
        text-decoration: none;
        transition: all .2s ease-out;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out; }
  .section-quem-somos .box-content--description {
    font-family: 'raleway';
    font-size: 1.8rem;
    margin: 0;
    padding-bottom: 40px;
    margin-bottom: 0; }
    .section-quem-somos .box-content--description a {
      color: #000000;
      text-decoration: none; }
      .section-quem-somos .box-content--description a.active, .section-quem-somos .box-content--description a:hover, .section-quem-somos .box-content--description a:active, .section-quem-somos .box-content--description a:focus {
        color: #d73b34;
        text-decoration: none;
        transition: all .2s ease-out;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out; }
  .section-quem-somos .box-content .btn-saiba-mais {
    cursor: pointer;
    background-color: #ff0000;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase; }

.section-nossos-servicos {
  background-color: #f2f2f2; }
  .section-nossos-servicos .box-carousel .box--description {
    text-align: left; }
    .section-nossos-servicos .box-carousel .box--description .box-content-title {
      padding-top: 95px;
      font-family: 'roboto';
      font-size: 4rem !important;
      margin: 0; }
      .section-nossos-servicos .box-carousel .box--description .box-content-title a {
        color: #000000;
        text-decoration: none; }
        .section-nossos-servicos .box-carousel .box--description .box-content-title a.active, .section-nossos-servicos .box-carousel .box--description .box-content-title a:hover, .section-nossos-servicos .box-carousel .box--description .box-content-title a:active, .section-nossos-servicos .box-carousel .box--description .box-content-title a:focus {
          color: #d73b34;
          text-decoration: none;
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -o-transition: all .2s ease-out; }

.section-novidade {
  background: linear-gradient(to right, #5b1b18, #d73b34); }
  .section-novidade .box-novidade {
    text-align: center;
    padding: 30px 0; }
    .section-novidade .box-novidade h3 {
      color: #fff;
      font-family: 'roboto';
      font-size: 3rem;
      margin: 0; }
      .section-novidade .box-novidade h3 a {
        color: #000000;
        text-decoration: none; }
        .section-novidade .box-novidade h3 a.active, .section-novidade .box-novidade h3 a:hover, .section-novidade .box-novidade h3 a:active, .section-novidade .box-novidade h3 a:focus {
          color: #d73b34;
          text-decoration: none;
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -o-transition: all .2s ease-out; }
      @media (max-width: 767.98px) {
        .section-novidade .box-novidade h3 {
          font-size: 2.6rem; } }
      .section-novidade .box-novidade h3 a {
        font-family: 'roboto';
        font-size: 2.4rem;
        margin: 0; }
        .section-novidade .box-novidade h3 a a {
          color: #000000;
          text-decoration: none; }
          .section-novidade .box-novidade h3 a a.active, .section-novidade .box-novidade h3 a a:hover, .section-novidade .box-novidade h3 a a:active, .section-novidade .box-novidade h3 a a:focus {
            color: #d73b34;
            text-decoration: none;
            transition: all .2s ease-out;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -o-transition: all .2s ease-out; }

.main-quem-somos {
  position: relative; }

.section-banner.section-banner-quem-somos {
  background-image: url(../imagens/bg-banner-equipe.jpg);
  color: #000000; }

.section-nossa-historia {
  background-color: #f2f2f2;
  position: relative; }
  .section-nossa-historia--titulo {
    font-family: 'roboto';
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding: 110px 0; }
    .section-nossa-historia--titulo a {
      color: #000000;
      text-decoration: none; }
      .section-nossa-historia--titulo a.active, .section-nossa-historia--titulo a:hover, .section-nossa-historia--titulo a:active, .section-nossa-historia--titulo a:focus {
        color: #d73b34;
        text-decoration: none;
        transition: all .2s ease-out;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out; }
    @media (max-width: 767.98px) {
      .section-nossa-historia--titulo {
        font-size: 3rem; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .section-nossa-historia--titulo {
        font-size: 4rem; } }
  .section-nossa-historia .box-imagens ul li {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    display: block;
    background-color: #fff;
    margin-bottom: 135px;
    overflow: hidden;
    cursor: pointer; }
    .section-nossa-historia .box-imagens ul li img {
      width: 100%;
      height: 500px;
      background-color: #f2f2f2; }
    .section-nossa-historia .box-imagens ul li span {
      font-family: 'roboto';
      font-size: 3rem;
      margin: 0;
      color: #d73b34;
      display: block;
      margin: 0 auto;
      padding-top: 20px;
      width: fit-content;
      padding-top: 20px;
      padding-bottom: 15px;
      position: relative; }
      .section-nossa-historia .box-imagens ul li span a {
        color: #000000;
        text-decoration: none; }
        .section-nossa-historia .box-imagens ul li span a.active, .section-nossa-historia .box-imagens ul li span a:hover, .section-nossa-historia .box-imagens ul li span a:active, .section-nossa-historia .box-imagens ul li span a:focus {
          color: #d73b34;
          text-decoration: none;
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -o-transition: all .2s ease-out; }
      @media (max-width: 767.98px) {
        .section-nossa-historia .box-imagens ul li span {
          font-size: 2.6rem; } }
      .section-nossa-historia .box-imagens ul li span::before {
        content: '';
        display: block;
        width: 100%;
        min-width: 501px;
        height: 1px;
        background-color: #000000;
        position: absolute;
        bottom: 80px;
        left: -718px;
        z-index: 12;
        transform: translate(100%); }
      .section-nossa-historia .box-imagens ul li span::after {
        content: '';
        display: block;
        width: 100%;
        min-width: 501px;
        height: 1px;
        background-color: #d73b34;
        position: absolute;
        bottom: 80px;
        left: -217px;
        z-index: 11; }
    .section-nossa-historia .box-imagens ul li:hover span:before {
      animation-name: hover-line-animation;
      animation-duration: 3s; }
  .section-nossa-historia .box-imagens.right {
    margin-top: 350px;
    position: relative;
    z-index: 10; }
  .section-nossa-historia .box-descricao {
    height: 1055px;
    color: #fff;
    position: relative;
    z-index: 10; }
    .section-nossa-historia .box-descricao ul {
      padding-top: 0;
      padding-left: 50px; }
      .section-nossa-historia .box-descricao ul li {
        list-style-type: none;
        padding-bottom: 100px; }
        .section-nossa-historia .box-descricao ul li .titulo {
          font-family: 'roboto';
          font-size: 4rem !important;
          margin: 0;
          padding-bottom: 40px; }
          .section-nossa-historia .box-descricao ul li .titulo a {
            color: #000000;
            text-decoration: none; }
            .section-nossa-historia .box-descricao ul li .titulo a.active, .section-nossa-historia .box-descricao ul li .titulo a:hover, .section-nossa-historia .box-descricao ul li .titulo a:active, .section-nossa-historia .box-descricao ul li .titulo a:focus {
              color: #d73b34;
              text-decoration: none;
              transition: all .2s ease-out;
              -webkit-transition: all .2s ease-out;
              -moz-transition: all .2s ease-out;
              -o-transition: all .2s ease-out; }
        .section-nossa-historia .box-descricao ul li .descricao {
          font-family: 'raleway';
          font-size: 1.8rem;
          margin: 0; }
          .section-nossa-historia .box-descricao ul li .descricao a {
            color: #000000;
            text-decoration: none; }
            .section-nossa-historia .box-descricao ul li .descricao a.active, .section-nossa-historia .box-descricao ul li .descricao a:hover, .section-nossa-historia .box-descricao ul li .descricao a:active, .section-nossa-historia .box-descricao ul li .descricao a:focus {
              color: #d73b34;
              text-decoration: none;
              transition: all .2s ease-out;
              -webkit-transition: all .2s ease-out;
              -moz-transition: all .2s ease-out;
              -o-transition: all .2s ease-out; }
  .section-nossa-historia .quadrado {
    width: 100%;
    height: 1060px;
    position: absolute;
    bottom: 210px;
    left: 51%;
    z-index: 1;
    background-color: #d73b34; }

.section-equipe {
  background-color: #fff;
  position: absolute;
  bottom: -37px;
  margin: 0 auto;
  width: 100%;
  z-index: 0;
  display: block; }
  .section-equipe .box-equipe {
    text-align: left; }
    .section-equipe .box-equipe--title {
      font-family: 'roboto';
      font-size: 4rem;
      text-transform: uppercase;
      margin: 0;
      padding-top: 90px;
      padding-bottom: 70px; }
      .section-equipe .box-equipe--title a {
        color: #000000;
        text-decoration: none; }
        .section-equipe .box-equipe--title a.active, .section-equipe .box-equipe--title a:hover, .section-equipe .box-equipe--title a:active, .section-equipe .box-equipe--title a:focus {
          color: #d73b34;
          text-decoration: none;
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -o-transition: all .2s ease-out; }
      @media (max-width: 767.98px) {
        .section-equipe .box-equipe--title {
          font-size: 3rem; } }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .section-equipe .box-equipe--title {
          font-size: 4rem; } }
    .section-equipe .box-equipe--description {
      font-family: 'raleway';
      font-size: 1.8rem;
      margin: 0;
      padding-bottom: 75px; }
      .section-equipe .box-equipe--description a {
        color: #000000;
        text-decoration: none; }
        .section-equipe .box-equipe--description a.active, .section-equipe .box-equipe--description a:hover, .section-equipe .box-equipe--description a:active, .section-equipe .box-equipe--description a:focus {
          color: #d73b34;
          text-decoration: none;
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -o-transition: all .2s ease-out; }
    .section-equipe .box-equipe img {
      width: 100%;
      height: 500px;
      object-fit: fill;
      margin: 0 auto; }
