$color-grey: #f2f2f2;
$color-black: #000000;
$color-white: #fff;
$color-red: #d73b34;
$color-marron: #5b1b18;
$color-blue: #0000ff;

/*
    Fonts
*/
$font-main: 'raleway';
$font-sub: 'Roboto', sans-serif;

/*
    Cores
*/ 
$color-grey: #f2f2f2;
$color-black: #000000;
$color-white: #fff;
$color-red: #d73b34;
$color-marron: #5b1b18;


