.section-banner-home {
  background-image: url(../imagens/bg-banner-home.png);
  .box-banner {
    padding: 110px 20px 0px 20px;
  }
}

.section-quem-somos {
  padding-bottom: 115px;
  .box-content {
    &--image {
      background-color: #666;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 565px;
    }
    &--text {
      text-align: left;
      padding-left: 120px;
      &:last-child {
        padding-bottom: 0;
      }
    }
    &--title {
      @include subtitle;
      font-weight: normal;
    }
    &--description {
      @include title5-raleway;
      padding-bottom: 40px;
      margin-bottom: 0;
    }
    .btn-saiba-mais {
      cursor: pointer;
      background-color: #ff0000;
      padding: 10px 15px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

.section-nossos-servicos {
  background-color: $color-grey;
  .box-carousel {
    .box--description {
      text-align: left;
      .box-content-title {
        padding-top: 95px;
        @include subtitle;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-banner {
    .container-fluid {
      height: 100vh;
      position: relative;
    }
    .box-banner {
      padding: 160px 40px 0px 40px;
      &--title {
        font-size: 2rem;
        padding-top: 0;
        padding-bottom: 70px;
      }
      &--hat {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 0 0 105px 0;
      }
      &--description {
        font-size: 1.2rem;
        padding-bottom: 65px;
      }
    }
  }
}
