.section-banner {
	&.section-banner-home {
		background-image: url(../imagens/bg-banner-home.png);
	}
}

.section-quem-somos {
	padding-bottom: 115px;
	.box-content{
		&--image {
			background-color: #666;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 100%;
			height: 565px;
		}
		&--text {
			text-align: left;
			padding-left: 120px;
			&:last-child {
				padding-bottom: 0;
			}
		}
		&--title {
			@include subtitle;
		    font-weight: normal;
		}
		&--description {
			@include title5-raleway;
			padding-bottom: 40px;
			margin-bottom: 0;
		}
		.btn-saiba-mais {
		    cursor: pointer;
		    background-color: #ff0000;
		    padding: 10px 15px;
		    color: #fff;
		    text-transform: uppercase;
		}
	}	
}

.section-nossos-servicos {
	background-color: $color-grey;
	.box-carousel {
		.box--description {
			text-align: left;
			.box-content-title {
				padding-top: 95px;
				@include subtitle;
			}
		}
	}
}

.section-novidade {
	background:  linear-gradient(to right, $color-marron, $color-red);
	.box-novidade {
		text-align: center;
		padding: 30px 0;
		h3 {
			color: $color-white;
			@include title3;
			a {
				@include title4;
			}
		}
	}
}
