.main-quem-somos {
	position: relative;
}

.section-banner {
	&.section-banner-quem-somos {
		background-image: url(../imagens/bg-banner-equipe.jpg);
		color: $color-black;
	}
}

.section-nossa-historia {
	background-color: $color-grey;
	position: relative;
	&--titulo {
		@include title2;
		text-align: center;
		padding: 110px 0;
	}
	.box-imagens {
		ul {
			li {
				@include transitionAll4s;
				display: block;
				background-color: $color-white;
				margin-bottom: 135px;
				overflow: hidden;
				cursor: pointer;
				img {
					width: 100%;
					height: 500px;
					background-color: $color-grey;
				}
				span {
					@include title3;
					color: $color-red;
					display: block;
				    margin: 0 auto;
				    padding-top: 20px;
				    width: fit-content;
					padding-top: 20px;
					padding-bottom: 15px;
					position: relative;
					&::before {
						content: '';
					    display: block;
					    width: 100%;
					    min-width: 501px;
					    height: 1px;
					    background-color: $color-black;
					    position: absolute;
					    bottom: 80px;
					    left: -718px;
					    z-index: 12;
					    transform: translate(100%);
					} 
					&::after {
						content: '';
					    display: block;
					    width: 100%;
					    min-width: 501px;
					    height: 1px;
					    background-color: #d73b34;
					    position: absolute;
					    bottom: 80px;
					    left: -217px;
					    z-index: 11;
					} 
				}
				&:hover {
					span {
						&:before {
							animation-name: hover-line-animation;
							animation-duration: 3s; 
						}
					}
				}
			}
		}
		&.right {
			margin-top: 350px;
			position: relative;
    		z-index: 10;
		}
	}
	.box-descricao {
		height: 1055px;
		color: $color-white;
		position: relative;
    	z-index: 10;
		ul {
			padding-top: 0;
			padding-left: 50px;
			li {
				list-style-type: none;
				padding-bottom: 100px;
				.titulo {
					@include subtitle;
					padding-bottom: 40px;
				}
				.descricao {
					@include title5-raleway;
				}
			}
		}
	}
	.quadrado {
		width: 100%;
	    height: 1060px;
	    position: absolute;
	    bottom: 210px;
	    left: 51%;
	    z-index: 1;
		background-color: $color-red;
	}
}

.section-equipe {
	background-color: #fff;
    position: absolute;
    bottom: -37px;
    margin: 0 auto;
    width: 100%;
    z-index: 0;
    display: block;
    .box-equipe {
    	text-align: left;
    	&--title {
    		@include title2;
    		padding-top: 90px;
    		padding-bottom: 70px;
    	}
    	&--description {
    		@include title5-raleway;
    		padding-bottom: 75px;
    	}
    	img {
    		width: 100%;
		    height: 500px;
		    object-fit: fill;
		    margin: 0 auto;
    	}
    }
}
    